.img-1 {
  width: 101px;
  height: 36px;
}

.img-2 {
  width: 36px;
  height: 36px;
  text-align: right;
}

.img-3 {
  width: 36px;
  height: 36px;
  text-align: right;
}

.item-1 {
}

.banner-img {
  height: 800px;
  width: 800px;
  border-radius: 400px;
}
