<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nike</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Icono-->
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/logoNIKE1.svg') }}"
    />

    <link
      href="{{ url_for('static', filename='css/home.css') }}"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section class="NavBar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <img
            alt="logoNIKE1"
            className="img-1"
            src="{{ url_for('static', filename='img/logoNIKE1.svg') }}"
          />

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"
                  >NOVEDADES</a
                >
              </li>
              <li class="nav-item item-1">
                <a class="nav-link active" href="#">HOMBRES</a>
              </li>
              <li class="nav-item item-1">
                <a class="nav-link active" href="#">MUJERES</a>
              </li>
              <li class="nav-item item-1">
                <a class="nav-link active" href="#">NIÑOS</a>
              </li>
              <li class="nav-item item-1">
                <a class="nav-link active" href="#">DESCUENTOS</a>
              </li>
            </ul>
          </div>
          <img
            alt="accountCircleLine1"
            className="img-2"
            src="{{ url_for('static', filename='img/accountCircleLine1.svg') }}"
          />
          <img
            alt="shoppingBagLine1"
            className="img-3"
            src="{{ url_for('static', filename='img/shoppingBagLine1.svg') }}"
          />
        </div>
      </nav>
    </section>
    <section>
      <div class="row">
        <div class="col-md-6">
          <br /><br /><br /><br />
          <h1 style="font-size: 80px; text-align: center">Find Your Flow</h1>

          <br />
          <br />
          <br />
          <p style="font-size: 30px; text-align: center">
            Join us on the mat for a live workout<br />
            or session on the Nike Training Clun app
          </p>
        </div>
        <div class="col-md-6">
          <br />
          <br />
          <br />
          <img
            src="{{ url_for('static', filename='img/Nike-B.gif') }}"
            alt=""
            class="banner-img"
          />
        </div>
      </div>
    </section>
  </body>
</html>
